<div>
    <div>
        <section class="agent-content ui">
            <div id="aliasInputDiv" ng-show="config.showAlias" class="ui input fluid col-xs-12" style="margin: 5px 10px;">
                <input id="aliasInput" type="text" placeholder="{{config.aliasPrompt}}" ng-model="contextId" ng-change="updateAlias();">
            </div>
            <ul class="goals">
                <li id="{{goal.description.replace(' ', '-')}}" ng-repeat="goal in config.goals" ng-click="startGoal(goal)" class="goal">
                    {{ goal.description }}
                </li>
            </ul>
        </section>
    </div>
</div>
