
<div rb-draggable-modal rb-open-modal clear-modal-background id="tryGoalModal" class="modal fade" tabindex="-1" role="dialog"  aria-hidden="true" ng-controller="TryGoalController">
    <div class="modal-dialog agent firefoxWrap" style="">
        <div class="modal-content agent-content" style="overflow: hidden; height: 600px;">

            <button type="button" ng-click="closeiFrameAgent()" class="close modalClose" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>

            <iframe id="try-query" ng-src="{{tryQueryURL}}" style="width: 100%; height: 600px; overflow: hidden; border: none;">
                <p>We cannot load the Rainbird Agent because your browser does not support iframes.</p>
            </iframe>

        </div>
    </div>
</div>
