@timing: 200ms;
@easing: linear;
.agent {
    .agent-header {
        text-align: center;
        padding: @spacing*2 @spacing;
        transform: translate3d(0,0,0);
    }
    
    &.agent--not-started {
        .agent-header {
            padding: @spacing*4 @spacing;   
            .header-description {
                opacity: 1;
                height: initial;
            }
        }
    }
}
