.agent-wrapper {
    display: flex;
    flex-direction: column;
    .agent{
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;

        .agent-content {
            flex: 1 1 auto;
            display:flex;
            flex-direction: column;
        }

        .agent-footer {
            text-align: right;
          position: absolute;
          bottom: 0px;
          left: 0;
          right: 0;
        }

      .agent-button-row {
        bottom: 60px;
        left: 0;
        padding: 0 8px;
        right: 0;
        margin-top: -3px;
      }

      .agent-modal-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }

        .modal-footer {
            text-align: right;
        }
    }
}

.modal-footer {
  button {
    float: right;

  }

  button.separate {
    float: left;
  }
}

.try-goal-body,
.question,
.result {
    margin: @spacing*2 @spacing;
    flex:1 0 auto;
}
ul {
    padding-left: @spacing;
    li {
        margin-left: @spacing*2;
    }
}

#error {
    display: none;
    padding: 20%;
}

#error.active {
    display: block;
}
