
<div ng-cloak tabindex="-1" ng-keyup="$event.keyCode == 13 && enterPressed()" >
    <div>
        <section class="agent-content" style="flex: 1 1 auto; overflow: visible;">
            <button type="button" ng-show="tryGoal" ng-click="toggleSplitScreen()" class="splitModal" >
                <i ng-class=" {'fa-window-maximize' : splitScreen, 'fa-columns' : !splitScreen}" class="fa"></i>
            </button>
            <div class="try-goal-body" ng-include="'/applications/tryGoal/component/shared/tryGoalBody.html'"></div>
        </section>
    <div ng-class="{'split-screen-footer' : splitScreen}" class="agent-footer-holder modal-footer">
        <div class="agent-button-row">
            <button id="continue" class="btn btn-info" value="Continue"
                    ng-if="display === 'init data'"
                    ng-disabled="!init.objectInstance && !init.subjectInstance"
                    ng-click="startGoalContext()"
                    ng-style="{'background-color': config.uiSettings.primaryColourBG}"
            >Continue</button>
            <button id="continue"  class="btn btn-info" value='{{ displayContinueOrSkip() }}'
                    ng-if="display === 'secondForm' || display === 'firstForm'"
                    ng-disabled='disableContinue()'
                    ng-click="respond()"
                    ng-style="{'background-color': config.uiSettings.primaryColourBG}"
            >{{ displayContinueOrSkip() }}</button>
            <button id="back" class="btn btn-primary" value="Back"
                    ng-show="config.uiSettings.showBackButton"
                    ng-if="display === 'secondForm' || display === 'firstForm'"
                    ng-click="back()"
                    ng-style="{'background-color': config.uiSettings.tertiaryColourBG}"
            >Back</button>
            <button ng-hide="tryGoal" id="done" class="btn btn-info" value="Done"
                    ng-if="display === 'result'"
                    ng-click="exit()"
                    ng-style="{'background-color': config.uiSettings.primaryColourBG}"
            >Done</button>
            <button ng-hide="tryGoal" id="exit" class="btn btn-default separate" value="Exit"
                    ng-click="exit()"
                    ng-style="{'background-color': config.uiSettings.tertiaryColourBG}"
            >Exit</button>
            <button id="reset" class="btn btn-default separate" value="Reset"
                    ng-if="display !== 'init data'"
                    ng-click="postMessage('Reset'); runGoal(goalInfo)"
                    ng-style="{'background-color': config.uiSettings.tertiaryColourBG}"
            >Reset</button>
        </div>
    </div>
</div>
