
<div rb-draggable-modal rb-open-modal clear-modal-background id="tryGoalModal" class="modal fade" tabindex="-1" role="dialog"  aria-hidden="true" ng-controller="TryGoalController">
    <div class="modal-dialog agent firefoxWrap">
        <div class="modal-content agent-content">

            <div class="modal-header agent-header" ng-style="{'background-color': config.uiSettings.primaryColourBG, 'border-bottom': config.uiSettings.border}">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h1 class="header-title noTransition" ng-style="{'color': config.uiSettings.headerColourText}">Try Query</h1>
                <h3 class="try-goal-description noTransition" ng-style="{'color': config.uiSettings.headerColourText}">{{goalInfo.description}}</h3>
            </div>

            <div ng-keyup="$event.keyCode == 13 && enterPressed()" class="modal-body" ng-include="'tryGoal/component/shared/tryGoalBody.html'"></div>
            <div class="modal-footer">

                <input id="exit" type="button" class="btn btn-primary" value="Exit" data-dismiss="modal" aria-hidden="true" />

                <input  id="reset" class="btn btn-default" value="Reset"
                        ng-if="display !== 'init data'"
                        ng-click="runGoal(goalInfo)"
                        type="button"
                />
                <input  id="done" class="btn btn-info" value="Done"
                        ng-if="display === 'result'"
                        ng-click="done()"
                        type="button"
                />
                <input  id="continue" class="btn btn-info" value="Continue"
                        ng-if="display === 'init data'"
                        ng-disabled="!init.objectInstance && !init.subjectInstance"
                        ng-click="startGoalContext()"
                        type="button"
                        ng-style="{'background-color': config.uiSettings.primaryColourBG}"
                />
                <input  id="continue" type="submit" class="btn btn-info" value='{{ displayContinueOrSkip() }}'
                        ng-if="display === 'secondForm' || display === 'firstForm'"
                        ng-disabled='disableContinue()'
                        ng-click="respond()"
                        type="button"
                        ng-style="{'background-color': config.uiSettings.primaryColourBG}"
                />
            </div>
            <footer class="agent-footer noTransition" ng-style="{'background-color': config.uiSettings.footerColourBG, 'border-top': config.uiSettings.border}">
                <img class="footer-logo" src="/img/{{config.uiSettings.logoChoice ? config.uiSettings.logoChoice : 'RB_powered.png'}}" />
            </footer>
        </div>
    </div>
</div>
