<button ng-if="response.questions[$index].plural" id="rb-try-goal-add-plural-button" class="btn btn-default glyphicon glyphicon-plus tooltipHolder" type="button" ng-click="addPluralInput($index, response.questions[$index].dataType === 'date' ? 'date' : 'number')">
    <span class="tooltipText">Additional answer</span>
</button>
<button ng-if="response.questions[$index].plural && response.questions[$index].pluralInputCounter > 1"  id="rb-try-goal-remove-plural-button" class="btn btn-default glyphicon glyphicon-minus tooltipHolder" type="button"
        ng-click="removePluralInput($index, response.questions[$index].dataType === 'date' ? 'date' : 'number')">
    <span class="tooltipText">Remove answer</span>
</button>
