<div ng-if="display === 'init data'" class="clearfix">
    <p class="rb-note-default">Tell me more...</p>
    <div class="col-sm-12">
        <p class="question-prompt" ng-if="objectPrompt">{{objectPrompt.charAt(0).toUpperCase() + objectPrompt.slice(1)}} :
            <input id="userProvided" type="text" ng-model="init.objectInstance" placeholder="Enter {{objectPrompt}}..." autofocus/>
        </p>
        <p class="question-prompt" ng-if="subjectPrompt">{{subjectPrompt.charAt(0).toUpperCase() + subjectPrompt.slice(1)}}  :
            <input id="userProvided" type="text" ng-model="init.subjectInstance" placeholder="Enter {{subjectPrompt}}..." autofocus/>
        </p>
    </div>
</div>
<div class="result clearfix" ng-if="display === 'result'">
    <p class="results-title">Your Results</p>
    <ul class="results-list">
        <li class="result" ng-repeat="response in goalResults">
            <span>{{response.text}}</span>
            <span class="result-cf" ng-hide="config.uiSettings.hideCF">{{response.cf}}%</span>
            <a ng-show="config.showEvidence" target="_blank" ng-href="/applications/components/rainbird-analysis-ui/whyAnalysis.html?id={{response.factID}}?api={{yolandaUrl}}">
                <span class="ui icon" data-tooltip="Show Evidence Tree" data-inverted="">
                    <i class="why-analysis-icon result-analysis fa fa-info-circle">
                    </i>
                </span>
            </a>
            <div ng-repeat="meta in response.meta.en">
                <div class="markdown-metadata" ng-if="meta.dataType === 'md'" markdown-to-html="meta.data"></div>
                <div class="text-metadata" ng-if="meta.dataType === 'text'">{{meta.data}}</div>
            </div>
        </li>
    </ul>
    <div class="" ng-show="config.enablePdfDownloads">
        <input class="btn btn-info" value="Print Results"></input>
    </div>
</div>

<div ng-if="display === 'end'" class="clearfix">
    <div class="col-sm-12">
        <p>Sorry, I've been unable to find an answer to your question!</p>
    </div>
</div>

<!-- Second form questions -->
<div class="lineBreakBetween" ng-repeat="question in response.questions">

    <div ng-attr-id="{{generateQuestionId(question.relationship)}}" ng-if="display === 'secondForm' && question.dataType !== 'truth'" class="clearfix">

        <p ng-if="question.prompt" class="rb-note-default question-prompt" markdown-to-html="question.prompt"></p>

        <div id="secondFormBlock" class="col-sm-12" ng-if="question.dataType === 'string'">
            <!--can add-->
            <sm-dropdown ng-if="question.canAdd"  ng-class="{multiple: question.plural}" class="fluid search selection" model="question.answer.selection" items="question.conceptOptions" disabled-items="question.disabledConceptOptions" default-text="Select" settings="{allowAdditions: true, hideAdditions: false, isMultiple: question.plural, forceSelection: false, selector: {unselectable: '.filtered'}}"></sm-dropdown>
            <!--can't add-->
            <sm-dropdown ng-if="!question.canAdd" ng-class="{multiple: question.plural}" class="fluid search selection" model="question.answer.selection" items="question.conceptOptions" disabled-items="question.disabledConceptOptions" default-text="Select" settings="{allowAdditions: false, isMultiple: question.plural, forceSelection: false}"></sm-dropdown>
        </div>

        <!-- Number type question -->
        <div class="col-sm-12" ng-if="question.dataType === 'number'">
            <!--singular-->
            <div class="ui input fluid">
                <input ng-if="!question.plural" type="number" placeholder="number" ng-model="question.answer.selection[0]" max="999999999999999" min="-999999999999999">
            </div>
            <!--plural-->
            <plural-numbers ng-if="question.plural" answers="question.answer.selection"></plural-numbers>

        </div>

        <!-- Date type question -->
        <div class="col-sm-12" ng-if="question.dataType === 'date'">

            <date-picker plural="question.plural" answers="question.answer.selection"></date-picker>

        </div>
    </div>

    <!-- Yes/No questions -->

    <div ng-attr-id="{{generateQuestionId(question.relationship)}}" ng-if="display === 'firstForm' || (display === 'secondForm' && question.dataType === 'truth')" class="clearfix">

        <div>
            <p ng-if="question.prompt" class="rb-note-default" markdown-to-html="question.prompt"></p>
            <div class="form-group col-sm-12">
                <div>
                    <label><input id="answerYes_{{ $index }}" class="rb-try-radio" type='radio' name='yes-value-{{ $index }}' value='yes' ng-model="question.answer.selection[0]">Yes</label>
                </div>
                <div>
                    <label><input id="answerNo_{{ $index }}" class="rb-try-radio" type='radio' name='no-value-{{ $index }}' value='no' ng-model="question.answer.selection[0]">No</label>
                </div>
            </div>
        </div>

        <div ng-repeat="meta in question.objectMetadata.en">
            <div class="markdown-metadata" ng-if="meta.dataType === 'md'" markdown-to-html="meta.data"></div>
            <div class="text-metadata" ng-if="meta.dataType === 'text'">{{meta.data}}</div>
        </div>
    </div>

    <div ng-if="display === 'firstForm' || display === 'secondForm'" class="clearfix">
        <div class="col-sm-12 rb-goal-try-cfdiv question-certainty" ng-if="question.allowCF">
            <p>How sure are you?</p>
            <input id="cfbar" class='rb-shared-try-goal-cf-input noTransition' name='cf' type="range" min="1" max="100" step="1" value="100" ng-model="question.answer.cf"/>
            <output class='rb-try-goal-cf-output question-cf-text'>{{question.answer.cf}}%</output>
        </div>
    </div>
</div>
<div class="clearfix" ng-if="display === 'thinking'">
    <div class="col-sm-12">
        <p>Rainbird is thinking...</p>
        <p>
            <img src="/applications/img/ajax-loader.gif" />
        </p>
    </div>
</div>
<div class="row clearfix" ng-if="display === 'error'">
    <div class="col-sm-12">
        <p>{{errorMessage}}</p>
    </div>
</div>
